@font-face{
    font-family: 'Open Sans Regular';
    src: url('../OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../OpenSans/OpenSans-Bold.ttf') format('truetype');
}

body{
    background-size: cover;
    font-family: 'Open Sans';
}

h1{
    display: flex;
    padding: 5px;
    font-family: 'Open Sans Bold';
    font-size: 50px;
}

.a_propos {
    justify-content: center;
    max-height: 64px;
    width: 400px;
}

h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0071B9;
    color: black;
    padding: 10px;
    font-family: 'Open Sans Bold';
}

.entete_info{
    width: 100%;
    height: 100%;
}

.rubrique_menu{
    display: inline-block;
    width: 35%;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Regular';
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.presentation{
    display: flex;
    background-color: lightgrey;
    color: black;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    margin-top: 5%;
    font-family: 'Open Sans Regular';
}

a{
    text-decoration: none;
}

.vignets {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*responsive*/

@media screen and (max-width: 750px){

    h1{
        font-size: 180%;
    }
    h2 {
        font-size: 130%;
    }
    .menu{
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    .menu2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .presentation {
        margin: 0%;
        width: auto;
    }

    p {
        font-size: small;
    }
    .rubrique_menu {
        width: 15%;

    }
    #return {
        width: 70%;
    }

    .a_propos {
        width: 500%;
        display: flex;
        justify-content: center;
        font-size: 200%;
    }
}

@media screen and (min-width: 751px){
    .menu2 {
        display: none;
    }
   
}