@font-face{
    font-family: 'Open Sans Regular';
    src: url('../OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../OpenSans/OpenSans-Bold.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans Bold';
    height: 50%;
}

.affichage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45em;
}

.affichage_gauche{
    display: flex;
    flex-direction: column;
    height: 80%;
}

.affichage_droite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;

}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #0071B9;
    color: black;
    padding: 10px;
    font-family: 'Open Sans Bold';
    border-radius: 0px 0px 0px 30px;
}

.titre{
    color:#FBBA00;
    padding-right: 10px;
}

.corps_question{
    margin-right: 100px;
    height: 100%;
}

.num_question{
    font-family: 'Open Sans Regular';
    font-size: 40px;
}

.question{
    display:flex;
    justify-content: center;
    font-size: 30px;
}

.reponse{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.reponseLigne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.soumettre{
    display: flex;
    justify-content: center;
}

button {
    background-color: #00B7E9;
    /* bleu */
    border-radius: 40px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 350px;
    height: 100px;
    display: block;
    font-family: 'Open Sans Bold';
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: #3e638e;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
}

#soumettre{
    background-color: #0071B9;
    color: #FBBA00;
    width: 250px;
    height: 75px;
}





#boiteCarteAideBot{
    margin-right: 40%;
    margin-bottom: 100%;
    justify-content: space-between;
    
}

#aideBot{
    position:fixed;
    top:92%;
    left:0;
    width:500px;
    border-radius:10 px;
}

#chatBot{
    background-color: grey;
    height:0px;
}

#barreNavBot{
    background-color: #303030;
    display:flex;
    justify-content: space-between;
    
}

/*#ouvrirBot{
    border : none;
    background-color: #303030;
    border-top-right-radius: 100 px;
}*/

#titreBot{
    color:white;
    margin-left: 10px;
    font-family:impact;
}

.logoBouttonBot{
    width:20%;
    height: auto;
}




#logoBouttonBotBas{
   display: none;
}

#test{
    position: fixed;
    top: 50%;
    left: 50%;
}

#tempsRestant{
    color:white;
}

#AHA{
   height:auto;
   width:2000%;  
}