@font-face{
    font-family: 'Open Sans Regular';
    src: url('./OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./OpenSans/OpenSans-Bold.ttf') format('truetype');
}

h1{
    padding: 5px;
    font-family: 'Open Sans Bold';
    font-size: 25px;
}

h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans Bold';
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0071B9;
    color: black;
    padding: 10px;
    margin-right: 80%;
    font-family: 'Open Sans';
    border-radius: 0px 0px 30px 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Regular';
}

.titre{
    color: #FBBA00;
}

.menu{
    display: flex;
    flex-direction: column;
}

.presentation{
    background-color: lightgrey;
    color: black;
    margin: 40px;
    padding: 20px;
    height: fit-content;
    margin-top: 10%;
    font-family: 'Open Sans Regular';
}

.bouton{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
}

.ensembleBouton{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
}

.bouton > button{
    margin: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

#popup{
    position:absolute;
    top:20%;
    left:17%;
    z-index:2;
    display:none;
    width:65%;
    height:60%;
    overflow:auto;
    border-style:solid;
    border-color: black;
    border-width:3px;
    background-color:#f0f0f0;
}

.affiche{
    display: flex;
    flex-direction: column;
}

.enteteChoix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 3px;
}

.enteteChoix > h3{
    display: flex;
    font-size: 25px;
    justify-content: left;
    padding-top: 10px;
    margin-left: 15px;
}

.bouton_popup{
    display: flex;
    border:none;
    background-color:#f0f0f0;
    color: black;
    border-radius: none;
    width: 50px;
    height: 50px;
    border-radius: 0px;
    font-family: 'Open Sans Regular';
    justify-content: center;
}

.bouton_popup:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bouton_popup:active {
    background-color: gray;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
}

#valideChoix{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    color: black;
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-family: 'Open Sans Regular';
    margin: 5%;
}

.corpsChoix{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.corpsChoix > p {
    margin: 5%;
    font-size: 20px;
}

button {
    background-color: #00B7E9;
    /* bleu */
    border-radius: 30px;
    border: none;
    color: white;
    /*padding: 30px 50px;*/
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    width: 350px;
    height: 100px;
    display: block;
    text-align: center;
    font-family: 'Open Sans Bold';
    
}

.boutton_droite > a {
    margin: 5%;
}

a{
    text-decoration: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: #3e638e;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
}

body{
    background-size: cover;
    font-family: 'Open Sans';
}